body { background: #5cb634; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 16px; display: flex; }
.block-uploader-0 { color: #884478; font-size: 17px; margin-bottom: 5px; }
.block-sms-1 { color: #b52be7; font-size: 20px; margin-bottom: 5px; }
.block-payment-2 { color: #3a90bb; font-size: 12px; margin-bottom: 5px; }
.block-helper-3 { color: #9ca13d; font-size: 20px; margin-bottom: 5px; }
.block-session-4 { color: #65c9ad; font-size: 17px; margin-bottom: 5px; }
.block-product-5 { color: #7cbec3; font-size: 12px; margin-bottom: 5px; }
.block-cluster-6 { color: #8440f5; font-size: 14px; margin-bottom: 5px; }
.block-token-7 { color: #cc39cc; font-size: 14px; margin-bottom: 5px; }
.block-filter-8 { color: #486fef; font-size: 18px; margin-bottom: 5px; }
.block-cluster-9 { color: #e88da0; font-size: 12px; margin-bottom: 5px; }